body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

.tab-button.active {
    background-color: #aaa;
}

.tab-content {
    display: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    width: 20%;

    text-align: left;

  }

  th{
    text-align: center;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
.tab-content.active {
    display: block;
}
.nomeEsercizio{
    font-weight: 800;
}

.giorno-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#peso,#serie,#ripetizioni{
    width: 15%;
}
#esercizio{
    width: 85%;
}
input, select{
    margin: 8px 0px
}
.toRemove button{
    background-color: transparent;
}
button{
   margin:10px;
    border:0px;
    color:#000;
    border-radius: 15px;
    padding: 10px 30px;
}
#salvaBtn{
    margin-right: 0;
}
#resetBtn{
    margin:0px;
    color: #fff;
    background-color: red;
    border:0px;
    border-radius: 15px;
    padding: 10px 30px;
}
h3 {
    text-align: left;
    margin-left: 10px;
}
